@model WebUI.Models.PayingItemModel
@{
    List<Category> catList = ViewBag.Categories;
    List<Account> accList = ViewBag.Accounts;
}
<div class="panel panel-primary">
    <div class="panel-heading">Добавление транзакции</div>

    @using (Ajax.BeginForm("Add", new AjaxOptions() { Url = Url.Action("Add"), UpdateTargetId = "payingDiv", OnSuccess = "updateAccounts" }))
    {
        @Html.ValidationSummary(true)
        <div class="panel-body">
            @Html.HiddenFor(x => x.PayingItem.UserId)
            <div class="form-group">
                <label>Категория:</label>
                @Html.DropDownListFor(x => x.PayingItem.CategoryID, catList.Select(x => new SelectListItem()
                {
                    Text = x.Name,
                    Value = x.CategoryID.ToString()
                }), new {@class = "selectpicker", onchange = "changeCategoryAdd()"})
            </div>
            <div id="subcategories"></div>
            <div class="form-group">
                <label>Сумма:</label>
                @Html.EditorFor(x => x.PayingItem.Summ, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        id = "ReadOnlySumm"
                    }
                })
                @Html.ValidationMessageFor(x => x.PayingItem.Summ)
            </div>

            <div class="form-group">
                <label>Счет:</label>
                <p>
                    @Html.DropDownListFor(x => x.PayingItem.AccountID, accList.Select(x => new SelectListItem()
                   {
                       Text = x.AccountName,
                       Value = x.AccountID.ToString()
                   }), new {@class = "selectpicker" })
                </p>
            </div>

            <div class="form-group">
                <label>Дата:</label>
                @Html.TextBoxFor(x => x.PayingItem.Date, new
                {
                    @class = "datepicker form-control",
                    onclick = "clickDate()",
                    Value = DateTime.Today.ToShortDateString()
                }
                    )
                @Html.ValidationMessageFor(x => x.PayingItem.Date)
            </div>

            <div class="form-group">
                <label>Комментарий:</label>
                @Html.TextAreaFor(x => x.PayingItem.Comment, new { @class = "form-control" })
            </div>
        </div>

        <div class="panel-footer">
            <input type="submit" value="Добавить" class="btn btn-success btn-raised btn-sm" />
            @Ajax.ActionLink("Назад", "List", null, new AjaxOptions()
            {
                Url = Url.Action("List"),
                UpdateTargetId = "payingDiv"
            }, new {@class = "btn btn-default btn-raised btn-sm"}
                )
        </div>
    }
</div>
<script type="text/javascript">
    function changeCategoryAdd() {
        var id = $('#PayingItem_CategoryID').val();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetSubCategories")/' + id,
            success: function (data) {
                $('#subcategories').replaceWith(data);
                $('#divProducts').attr('hidden', true);
            }
        });
    }

    $(document).ready(function () {
        $('.selectpicker').selectpicker();
        clickDate();
    });
</script>