@model List<Product>


@if (Model.Count() != 0)
    {
        <div id="divProducts">
            <table class="table table-striped">
                <tr>
                    <th>Добавить</th>
                    <th>Наименование</th>
                    <th>Описание</th>
                    <th>Цена</th>
                </tr>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        @Html.Hidden("Products[" + i + "].UserID", Model[i].UserID)
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="Products[@i].ProductID" value="@Model[i].ProductID" />
                                    <span class="checkbox-material"><span class="check"></span></span>		
                                </label>
                            </div>
                        </td>
                        <td>
                            @Model[i].ProductName
                            @Html.Hidden("Products[" + i + "].ProductName", Model[i].ProductName)
                        </td>
                        <td>
                            @Model[i].Description
                        </td>
                        <td>
                            @Html.TextBox("Products[" + i + "].Price", Model[i].Price, new { @class = "form-control", placeholder = "Цена" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
else
{
  <div id="divProducts"></div>
}
