@model HomeAccountingSystem_WebUI.Models.RoleEditModel

@{
    ViewBag.Title = "Редактирование роли";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <input type="hidden" name="RoleName" value="@Model.Role.Name"/>
    <div class="panel panel-primary">
        <div class="panel-heading">Редактирование роли: @Model.Role.Name</div>
        <table class="table table-striped">
            <caption class="text-center">Участники роли</caption>
            @if (Model.Members.Count() == 0 || Model.Members == null)
            {
                <tr>
                    <td colspan="2" class="text-center">Нет пользователей</td>
                </tr>
            }
            else
            {
                foreach (var item in Model.Members)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsToDelete" value="@item.Id"/>
                        </td>
                    </tr>
                }
            }
        </table>
        <table class="table table-striped">
            <caption class="text-center">Не принадлежащие данной роли</caption>
            @if (Model.NonMembers == null || Model.NonMembers.Count() == 0)
            {
                <tr>
                    <td colspan="2" class="text-center">Нет пользователей</td>
                </tr>
            }
            else
            {
                foreach (var item in Model.NonMembers)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsToAdd" value="@item.Id"/>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <input type="submit" value="Сохранить" class="btn btn-success btn-raised btn-sm"/>
    @Html.ActionLink("Назад", "Index", "RoleAdmin", null, new { @class = "btn btn-default btn-raised btn-sm" })
}
