@model IEnumerable<NotificationMailBox>
<div class="panel panel-primary">
    <div class="panel-heading">Электронные ящики для уведомлений от сервисов</div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <th>Название ящика</th>
                <th>От кого</th>
                <th>Логин</th>
                <th>Пароль</th>
                <th>Smtp-сервер</th>
                <th>Порт</th>
                <th>Использовать SSL</th>
                <th>Действия</th>
            </tr>
            @if (Model.Count() == 0 || Model == null)
            {
                <tr>
                    <td colspan="7" class="text-center">Нет ни одного ящика для рассылки уведомлений</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.MailBoxName, "Edit", new {id = item.Id})
                        </td>
                        <td>@item.MailFrom</td>
                        <td>@item.UserName</td>
                        <td>@item.Password</td>
                        <td>@item.Server</td>
                        <td>@item.Port</td>
                        <td>
                            <input type="checkbox" checked="@item.UseSsl" readonly="readonly"/>
                        </td>
                        <td>
                            @using (Ajax.BeginForm("Delete", new {id = item.Id},new AjaxOptions()
                            {
                                Url = Url.Action("Delete", new {id = item.Id}),
                                UpdateTargetId = "mailBoxes"
                            }))
                            {
                                <input type="submit" value="Удалить" class="btn btn-danger btn-raised btn-xs"/>
                            }</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>