@model RoleEditModel

<form asp-action="Edit" asp-antiforgery="true" method="post" ajax-enable="true" ajax-update-element-id="#adminSection" ajax-method="post" ajax-mode="replace" ajax-url="@Url.Action("Edit")">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" name="RoleName" id="RoleName" value="@Model.Role.Name"/>
    <div class="panel panel-primary">
        <div class="panel-heading">Редактирование роли: @Model.Role.Name</div>
        <table class="table table-striped">
            @if (!Model.Members.Any())
            {
                <tr>
                    <td colspan="2" class="text-center">Нет пользователей в данной роли</td>
                </tr>
            }
            else
            {
                <tr>
                    <th>Пользователи, принадлежащие роли</th>
                    <th>Пометить для удаления из роли</th>
                </tr>
                foreach (var item in Model.Members)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td class="text-center">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="UsersToDelete" value="@item.Id">
                                    <span class="checkbox-material"><span class="check"></span></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                }
            }
        </table>
        <table class="table table-striped">
            @if (!Model.NonMembers.Any())
            {
                <tr>
                    <td colspan="2" class="text-center">Нет пользователей для добавления к роли</td>
                </tr>
            }
            else
            {
                <tr>
                    <th>Пользователи, не принадлежащие роли</th>
                    <th>Пометить для добавления к роли</th>
                </tr>
                foreach (var item in Model.NonMembers)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td class="text-center">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="UsersToAdd" value="@item.Id">
                                    <span class="checkbox-material"><span class="check"></span></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <input type="submit" value="Сохранить" class="btn btn-success btn-raised btn-sm" />
    <a asp-action="Index" asp-controller="RoleAdmin" ajax-enable="true" ajax-mode="replace" ajax-update-element-id="#adminSection" ajax-url="@Url.Action("Index", "RoleAdmin")"
       class="btn btn-default btn-raised btn-sm">
        Назад
    </a>
</form>