@model HomeAccountingSystem_DAL.Model.Product

@using (Ajax.BeginForm("Add","Product",null,new AjaxOptions()
{
    Url = Url.Action("Add"),
    UpdateTargetId = "productsDiv"
}, new {@class="form-inline"}))
{
    @Html.ValidationSummary(true)
    @Html.ValidationMessageFor(x => x.ProductName)
    <div class="panel-body">
        @Html.HiddenFor(x => x.ProductID)
        <input type="hidden" id="CategoryID" name="CategoryID" value="@ViewBag.CategoryId"/>
        <div class="form-group">
            <label class="form-group">Наименование</label>
            @Html.TextBoxFor(x => x.ProductName, new {@class = "form-control"})
        </div>
        <div class="form-group">
            <label class="form-group">Описание</label>
            @Html.TextBoxFor(x => x.Description, new {@class = "form-control"})
        </div>
        <input type="submit" class="btn btn-success btn-raised btn-sm" value="Добавить"/>
    </div>
}