@model Category
@{
    List<TypeOfFlow> list = ViewBag.TypesOfFlow;
}

<div class="panel panel-default">
    <div class="panel-heading">Редактирование категории</div>
    <form asp-action="Edit" method="post" asp-antiforgery="true" class="form-inline" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace"
          data-ajax-update="#categoryDiv" data-ajax-url="@Url.Action("Edit")">
        <div class="panel-body">
            <input asp-for="CategoryID" type="hidden" />
            <input asp-for="UserId" type="hidden" />
            <div class="form-group">
                <label>Название:</label>
                <input asp-for="Name" class="form-control" />
                <div><span asp-validation-for="Name" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label>Тип:</label>
                <select asp-for="TypeOfFlowID" asp-items="@list.Select(x => new SelectListItem() { Text = x.TypeName, Value = x.TypeID.ToString() })" class="selectpicker"></select>
            </div>
            <div class="checkbox">
                <label>
                    <input asp-for="Active" />
                    <span class="checkbox-material"><span class="check"></span></span>
                    Активная
                </label>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-success btn-raised btn-sm" />
            <a asp-action="Index" asp-controller="Category" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#payingDiv"
               data-ajax-url="@Url.Action("Index", "Category")" class="btn btn-default btn-raised btn-sm" }>
                Назад
            </a>
        </div>
    </form>
    <div class="panel-heading">Подкатегории</div>
    <div class="panel-body" id="productsDiv">
        @await Component.InvokeAsync(nameof(ProductsForCategory), new { categoryId = Model.CategoryID })
    </div>
    <div class="panel-footer">
        <a asp-action="Add" asp-controller="Product" asp-route-categoryId="@Model.CategoryID" data-ajax="true" data-ajax-mode="replace"
           data-ajax-update="#productsDiv" data-ajax-url="@Url.Action("Add", "Product", new { categoryId = Model.CategoryID })"
           class="btn btn-primary btn-raised btn-sm">
            Добавить подкатегорию
        </a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(
        function () {
            $('.selectpicker').selectpicker();
        });
</script>
