@model CategoriesCollectionModel

@for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
{
    <a asp-action="GetCategoriesByType" asp-route-page="@i" asp-route-typeOfFlowId = "@Model.TypeOfFlowId" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#categoryContainer"
       data-ajax-url="@Url.Action("GetAllCategories", new {page = i})" class="btn btn-default btn-raised btn-round btn-sm" id="@i.ToString()"
       onclick="changeButtonColor(this.id)">
        @i.ToString()
    </a>
}