@using System.Web.Mvc.Html
@model LoginModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@if (TempData["message"] != null)
{
    <div class="registerContainer">
        <div class="alert alert-success">@TempData["message"]</div>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="card card-signup">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true);
                    @Html.AntiForgeryToken();
                    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>
                    <div class="header header-primary text-center">
                        <h4>Авторизация</h4>
                    </div>
                    <div class="content">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">face</i>
                            </span>
                            @Html.TextBoxFor(x => x.Name, new {@class="form-control", placeholder= "Логин"})
                            @Html.ValidationMessageFor(x => x.Name)                            
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Пароль" })
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>
                    </div>
                    <div class="footer text-center">                        
                        <input type="submit" value="Войти" class="btn btn-simple btn-primary btn-lg"/>
                        @Html.ActionLink("Демо-вход", "LoginDemo", null, new { @class = "btn btn-simple btn-primary btn-lg" })
                        <div style="text-align: center">
                            @Html.ActionLink("Зарегистрироваться", "Register", null, new { @class = "btn btn-simple btn-primary btn-lg" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>