@using System.Web.Mvc.Html
@model LoginModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@if (TempData["message"] != null)
{
    <div class="registerContainer">
        <div class="alert alert-success">@TempData["message"]</div>
    </div>
}
@*<div class="loginContainer">
    <div class="panel panel-info">
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl"/>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Name, new {@class = "form-control", placeholder = "Логин"})
                    <p>@Html.ValidationMessageFor(x => x.Name)</p>
                </div>
                <div class="form-group floating-label">
                    @Html.PasswordFor(x => x.Password, new {@class = "form-control", placeholder = "Пароль"})
                    <p>@Html.ValidationMessageFor(x => x.Password)</p>
                </div>
                <input type="submit" value="Войти" class="btn btn-primary btn-raised btn-sm"/>
                @Html.ActionLink("Демо-вход", "LoginDemo", null, new {@class = "btn btn-info btn-raised btn-sm"})
                <div style="text-align: center">
                    @Html.ActionLink("Зарегистрироваться", "Register", null, new {@class = "btn btn-primary btn-raised btn-sm"})
                </div>
            }
        </div>
    </div>
</div>*@
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="card card-signup">
                <form class="form" method="" action="">
                    <div class="header header-primary text-center">
                        <h4>Sign Up</h4>
                        @*<div class="social-line">
                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>*@
                    </div>
                    <div class="content">

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">face</i>
                            </span>
                            <input type="text" class="form-control" placeholder="First Name...">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                            <input type="text" class="form-control" placeholder="Email...">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            <input type="password" placeholder="Password..." class="form-control" />
                        </div>
                    </div>
                    <div class="footer text-center">
                        <a href="#pablo" class="btn btn-simple btn-primary btn-lg">Get Started</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>