@model PayingItemModel
@{
    List<Category> catList = ViewBag.Categories;
    List<Account> accList = ViewBag.Accounts;
}
<div class="panel panel-primary">
    <div class="panel-heading">Добавление транзакции</div>
    
<form method="POST" asp-action="Add" asp-antiforgery="true" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#payingDiv" 
      data-ajax-method="post" data-ajax-success="updateAccounts" data-ajax-url="@Url.Action("Add")">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="panel-body">
        <div class="form-group">
            <label>Категория:</label>
        <select asp-for="PayingItem.CategoryID" asp-items="@catList.Select(x => new SelectListItem() { Text = x.Name, Value = x.CategoryID.ToString() })" onchange="changeCategoryAdd()">
            <option disabled selected value="">Выберите категорию</option>
        </select>
        </div>
        <div id="subcategoriesDiv" hidden="hidden"></div>
        <div class="form-group" id="divPayingItemSum">
            <label>Сумма:</label>
            <input asp-for="PayingItem.Summ" id="sumInput" class="form-control"/>
            @*@Html.EditorFor(x => x.PayingItem.Summ, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
                    id = "sumInput"
                }
            })*@
            @Html.ValidationMessageFor(x => x.PayingItem.Summ)
        </div>

        @*<div class="form-group">
            <label>Счет:</label>
            @Html.DropDownListFor(x => x.PayingItem.AccountID, accList.Select(x => new SelectListItem()
           {
               Text = x.AccountName,
               Value = x.AccountID.ToString()
           }), new { @class = "selectpicker" })
        </div>

        <div class="form-group">
            <label>Дата:</label>
            @Html.TextBoxFor(x => x.PayingItem.Date, new
            {
                @class = "datepicker form-control",
                onclick = "clickDate()",
                Value = DateTime.Today.ToShortDateString()
            }
                )
            @Html.ValidationMessageFor(x => x.PayingItem.Date)
        </div>

        <div class="form-group">
            <label>Комментарий:</label>
            @Html.TextAreaFor(x => x.PayingItem.Comment, new { @class = "form-control" })
        </div>*@
    </div>

    <div class="panel-footer">
        <input type="submit" value="Добавить" class="btn btn-success btn-raised btn-sm" />
        @*@Ajax.ActionLink("Назад", "List", null, new AjaxOptions()
            {
                Url = Url.Action("List"),
                UpdateTargetId = "payingDiv"
            }, new { @class = "btn btn-default btn-raised btn-sm" }
                )*@
    </div>
</form>       
    }
</div>
<script type="text/javascript">
    function changeCategoryAdd() {
        var id = $('#PayingItem_CategoryID').val();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetSubCategories")/' + id,
            success: function (data) {
                $('#subcategoriesDiv').replaceWith(data);
                $('#divProducts').attr('hidden', true);
                $('#divPayingItemSum').removeAttr('hidden');
            }
        });
    }

    $(document).ready(function () {
        $('.selectpicker').selectpicker();
        clickDate();
    });
</script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>