@model PayingItemModel
@{
    List<Category> catList = ViewBag.Categories;
    List<Account> accList = ViewBag.Accounts;
    //WebUI.Core.Models.WebUser user = new WebUI.Core.Models.WebUser()
    //{
    //    Id = "e88cee4a - 478a - 4999 - ab34 - 3c1469b58bc2"
    //};
}
<div class="panel panel-primary">
    <div class="panel-heading">Добавление транзакции</div>

    @*@using (Ajax.BeginForm("Add", new AjaxOptions() { Url = Url.Action("Add"), UpdateTargetId = "payingDiv", OnSuccess = "updateAccounts" }))
    {*@
<form method="POST" asp-action="Add" asp-antiforgery="true">
    @Html.ValidationSummary(true)
    <div class="panel-body"> 
        @*<input type="hidden" name="user.Id" id="user.Id" value="@user.Id"/>*@
        <div class="form-group">
            <label>Категория:</label>
            @*@Html.DropDownListFor(x => x.PayingItem.CategoryID, catList.Select(x => new SelectListItem()
            {
                Text = x.Name,
                Value = x.CategoryID.ToString()
            }), new { @class = "selectpicker", onchange = "changeCategoryAdd()" })*@
        <select asp-for="PayingItem.CategoryID" asp-items="@catList.Select(x => new SelectListItem() { Text = x.Name, Value = x.CategoryID.ToString() })">
            <option disabled selected value="">Выберите категорию</option>
        </select>
        </div>
        <div id="subcategoriesDiv" hidden="hidden"></div>
        <div class="form-group" id="divPayingItemSum">
            <label>Сумма:</label>
            <input asp-for="PayingItem.Summ" id="sumInput" class="form-control"/>
            @*@Html.EditorFor(x => x.PayingItem.Summ, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
                    id = "sumInput"
                }
            })*@
            @Html.ValidationMessageFor(x => x.PayingItem.Summ)
        </div>

        @*<div class="form-group">
            <label>Счет:</label>
            @Html.DropDownListFor(x => x.PayingItem.AccountID, accList.Select(x => new SelectListItem()
           {
               Text = x.AccountName,
               Value = x.AccountID.ToString()
           }), new { @class = "selectpicker" })
        </div>

        <div class="form-group">
            <label>Дата:</label>
            @Html.TextBoxFor(x => x.PayingItem.Date, new
            {
                @class = "datepicker form-control",
                onclick = "clickDate()",
                Value = DateTime.Today.ToShortDateString()
            }
                )
            @Html.ValidationMessageFor(x => x.PayingItem.Date)
        </div>

        <div class="form-group">
            <label>Комментарий:</label>
            @Html.TextAreaFor(x => x.PayingItem.Comment, new { @class = "form-control" })
        </div>*@
    </div>

    <div class="panel-footer">
        <input type="submit" value="Добавить" class="btn btn-success btn-raised btn-sm" />
        @*@Ajax.ActionLink("Назад", "List", null, new AjaxOptions()
            {
                Url = Url.Action("List"),
                UpdateTargetId = "payingDiv"
            }, new { @class = "btn btn-default btn-raised btn-sm" }
                )*@
    </div>
</form>       
    }
</div>
<script type="text/javascript">
    function changeCategoryAdd() {
        var id = $('#PayingItem_CategoryID').val();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetSubCategories")/' + id,
            success: function (data) {
                $('#subcategoriesDiv').replaceWith(data);
                $('#divProducts').attr('hidden', true);
                $('#divPayingItemSum').removeAttr('hidden');
            }
        });
    }

    $(document).ready(function () {
        $('.selectpicker').selectpicker();
        clickDate();
    });
</script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>