@model IEnumerable<PayingItem>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Date.ToShortDateString()</td>
            <td>@item.Category.Name</td>
            <td>@item.Account.AccountName</td>
            <td>
                @if (item.Category.TypeOfFlowID == 1)
                {
                    if (item.Summ != 0)
                    {
                        @:+@item.Summ.ToString("c")
            }
                    else
                    {
                        @:@item.Summ.ToString("c")
            }
                }
                else
                {
                    if (item.Summ != 0)
                    {
                        @:-@item.Summ.ToString("c")
            }
                    else
                    {
                        @:@item.Summ.ToString("c")
            }
                }
            </td>
            <td class="hidden-xs">@item.Comment</td>
            <td class="hidden-xs">
                <form asp-action="Delete" asp-antiforgery="true" method="post" asp-route-id="@item.ItemID"
                      data-ajax="true" data-ajax-mode="replace" data-ajax-update="#payingDiv" data-ajax-url="@Url.Action("Delete", "PayingItem", new { id = item.ItemID })"
                      data-ajax-success="updateAccounts" data-ajax-method="post">
                    <a asp-action="Edit" asp-route-typeOfFlowId="@item.Category.TypeOfFlowID" asp-route-id="@item.ItemID"
                       data-ajax="true" data-ajax-mode="replace" data-ajax-update="payingDiv"
                       data-ajax-url="@Url.Action("Edit", "PayingItem", new { id = item.ItemID, typeOfFlowId = item.Category.TypeOfFlowID })"
                       class="btn btn-warning btn-raised btn-xs">
                        Редактировать
                    </a>
                    <input type="submit" value="Удалить" class="btn btn-danger btn-raised btn-xs" />
                </form>
            </td>
        </tr>
    }


