@model Order
<table class="table table-hover">
    <tr>
        <th>Дата</th>
        <th colspan="2" class="text-center">Что купить</th>
    </tr>
    @if (Model.OrderDetail.Any())
    {
        <tr>
            <td>@Model.OrderDate</td>
            <td>
                <table class="table table-hover">
                    @foreach (var orderDetail in Model.OrderDetail)
                    {
                        <tr>
                            <td>@orderDetail.Product.ProductName</td>
                            @if (orderDetail.ProductPrice.HasValue)
                            {
                                <td>@orderDetail.ProductPrice.Value.ToString("c")</td>
                            }
                            else
                            {
                                <td>@int.Parse("0").ToString("c")</td>
                            }

                            <td>
                                @using (Ajax.BeginForm("Delete", "OrderDetail", new {id = orderDetail.ID}, new AjaxOptions()
                                {
                                    Url = Url.Action("Delete", "OrderDetail", new {id = orderDetail.ID}),
                                    UpdateTargetId = "orderDetailDiv"
                                }))
                                {
                                    <input type="submit" value="Удалить" class="btn btn-xs btn-danger btn-raised"/>
                                }
                            </td>
                        </tr>
                    }
                </table>
                <span class="pull-right"><b>Итого: </b>@string.Format("{0:C2}", Model.OrderDetails.Sum(x => x.ProductPrice))</span>
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td colspan="3" class="text-center">В текущем списке нет запланированных покупок</td>
        </tr>
    }
</table>
<div id="orderDetailFooter">
    @Ajax.ActionLink("Назад", "OrderList", null, new AjaxOptions()
{
    Url = Url.Action("OrderList"),
    UpdateTargetId = "orderDetailDiv",
    OnSuccess = "enableButtons"
}, new { @class = "btn btn-default btn-xs btn-raised pull-right" })
    @Ajax.ActionLink("Добавить", "Add", "OrderDetail", new {id = Model.OrderID}, new AjaxOptions()
    {
        Url = Url.Action("Add", "OrderDetail", new {id = Model.OrderID}),
        UpdateTargetId = "orderDetailFooter"
    }, new {@class = "btn btn-primary btn-raised btn-xs pull-right"})
</div>