@model CredentialsModel

<cache expires-sliding="@TimeSpan.FromSeconds(120)" vary-by-user="true">
    @await Component.InvokeAsync(typeof(MainBar))
</cache>
<div class="container" id="adminSection">
    <div class="panel panel-primary">
        <div class="panel-heading">Личные данные</div>
        <table class="table table-striped">
            <tr>
                <th>Логин</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>@Model.Login</td>
                <td>@Model.LastName</td>
                <td>@Model.FirstName</td>
                <td>@Model.Email</td>
            </tr>
        </table>
        <div class="panel-footer">
            <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#adminSection" data-ajax-url="@Url.Action("ChangeCredentials")" 
               asp-action="ChangeCredentials" class = "btn btn-primary btn-raised btn-sm">Редактировать</a>
            <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#adminSection" data-ajax-url="@Url.Action("ChangePassword")"
               asp-action="ChangePassword" class = "btn btn-primary btn-raised btn-sm" >Смена пароля</a>
            <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#payingItemMainBody" data-ajax-url="@Url.Action("MainPage", "PayingItem")"
               asp-action="MainPage" asp-controller="PayingItem" class="btn btn-default btn-raised btn-sm pull-right"
               data-ajax-begin="showPopupLogin" data-ajax-success="hidePopup">На главную</a>
        </div>
    </div>
</div>