@model MailboxAddViewModel
@{
    var routeAction = Context.Request.RequestContext.RouteData.Values["action"];
    var action = routeAction.ToString() == "Add" ? "Add" : "Edit";
}
<div class="panel panel-primary">
    <div class="panel-heading">@ViewBag.PanelTitle</div>
    @using (Ajax.BeginForm(new AjaxOptions()
    {
        Url = Url.Action(action),
        HttpMethod = "POST",
        UpdateTargetId = "adminSection"
    }))
    {
        @Html.ValidationSummary(true)
        <div class="panel-body">
                @Html.HiddenFor(x => x.Id)
            <div class="form-group">
                @Html.TextBoxFor(x => x.MailBoxName, new {@class = "form-control", placeholder = "Название ящика"})
                @Html.ValidationMessageFor(x => x.MailBoxName)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.MailFrom, new {@class = "form-control", placeholder = "От кого"})
                @Html.ValidationMessageFor(x => x.MailFrom)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.UserName, new {@class = "form-control", placeholder = "Логин"})
                @Html.ValidationMessageFor(x => x.UserName)
            </div>
            <div class="form-group">
                @Html.PasswordFor(x => x.Password, new {@class = "form-control", placeholder = "Пароль"})
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div class="form-group">
                @Html.PasswordFor(x => x.PasswordConfirmation, new {@class = "form-control", placeholder = "Подтверждение пароля"})
                @Html.ValidationMessageFor(x => x.PasswordConfirmation)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.Server, new { @class = "form-control", placeholder = "Smtp-сервер" })
                @Html.ValidationMessageFor(x => x.Server)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.Port, new { @class = "form-control", placeholder = "Smtp-сервер" })
                @Html.ValidationMessageFor(x => x.Port)
            </div>
            <div class="checkbox">
                <label>
                    <input id="UseSsl" name="UseSsl" type="checkbox" value="true">
                    <span class="checkbox-material"><span class="check"></span></span>
                    Использовать SSL
                </label>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-raised btn-sm btn-success"/>
             @Ajax.ActionLink("Назад", "Index", "Mailbox", null, new AjaxOptions()
             {
                 Url = Url.Action("Index", "Mailbox"),
                 UpdateTargetId = "adminSection"
             }, new { @class = "btn btn-default btn-raised btn-sm" })
        </div>
    }
</div>