<cache expires-sliding="@TimeSpan.FromSeconds(120)" vary-by-user="true">
    @await Component.InvokeAsync(nameof(MainBar))
</cache>

<div class="col-xs-3"></div>
<div id="adminSection" class="col-xs-7">
    <div class="panel panel-danger">
        <div class="panel-heading">Администрирование</div>
        <table class="table table-striped">
            <tr>
                <td class="text-center">
                    <a asp-action="Index" asp-controller="UserAdministration" ajax-enable="true" ajax-method="GET" ajax-mode="replace" ajax-update-element-id="#adminSection"
                       ajax-url="@Url.Action("Index", "UserAdministration")" class="btn btn-primary btn-raised btn-sm">Пользователи</a>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <a asp-action="Index" asp-controller="RoleAdmin" ajax-enable="true" ajax-method="GET" ajax-mode="replace" ajax-update-element-id="#adminSection"
                       ajax-url="@Url.Action("Index", "RoleAdmin")" class="btn btn-primary btn-raised btn-sm">Роли</a>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <a asp-action="Index" asp-controller="Mailbox" ajax-enable="true" ajax-method="GET" ajax-mode="replace" ajax-update-element-id="#adminSection"
                       ajax-url="@Url.Action("Index", "Mailbox")" class="btn btn-primary btn-raised btn-sm">Почтовые ящики сервисов</a>
                </td>
            </tr>
        </table>
    </div>
    <a asp-action="MainPage" asp-controller="PayingItem" ajax-enable="true" ajax-method="GET" ajax-mode="replace" ajax-update-element-id="#payingItemMainBody"
       ajax-url="@Url.Action("MainPage", "PayingItem")" class="btn btn-default btn-raised btn-sm" ajax-begin="showPopupLogin" ajax-success="hidePopup">
        На главную
    </a>
</div>