@model DebtEditingViewModel
@{
    var typeOfFlowId = Model.TypeOfFlowId;
    var caption = typeOfFlowId == 1 ? "Я должен" : "Мне должны";
}
@using (Ajax.BeginForm("ClosePartially", new AjaxOptions()
{
    Url = Url.Action("ClosePartially"),
    UpdateTargetId = "payingDiv",
    OnSuccess = "updateAfterDebt"
}))
{
    <div class="panel panel-primary">
        <div class="panel-heading">Долги</div>
        <div class="panel-body" id="debtPanel">
            <div class="form-group">
                @Html.HiddenFor(x => x.DebtId)
                <table class="table table-hover">
                    <caption>@caption</caption>
                    <tr>
                        <th>Сколько</th>
                        <th>Кому</th>
                        <th>Счет</th>
                        <th>Дата займа</th>
                        <th colspan="2" class="text-center">Действия</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.EditorFor(x => x.Sum, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control"
                                }
                            })
                            @Html.ValidationMessageFor(x => x.Sum)
                        </td>
                        <td>@Model.Person</td>
                        <td>
                            @Html.DropDownListFor(x => x.AccountId, Model.Accounts.Select(a => new SelectListItem()
                            {
                                Text = a.AccountName,
                                Value = a.AccountID.ToString()
                            }), new {@class = "selectpicker"})
                        </td>
                        <td>@Model.Date</td>
                        <td class="text-center">
                            <input type="submit" class="btn btn-success btn-raised btn-xs" value="Закрыть долг"/>
                        </td>
                    </tr>
                </table>
                @Html.ValidationSummary(true)
            </div>
        </div>
        @Ajax.ActionLink("К списку долгов", "DebtList", "Debt", null, new AjaxOptions()
        {
            Url = Url.Action("DebtList", "Debt"),
            UpdateTargetId = "payingDiv"
        }, new {@class = "btn btn-default btn-raised btn-sm pull-right"})
    </div>
}
<script type="text/javascript">
    $(document).ready(
        function() {
            $('.selectpicker').selectpicker();
        });
</script>