@model DebtEditViewModel
@using (Ajax.BeginForm("ClosePartially", new AjaxOptions()
{
    Url = Url.Action("ClosePartially"),
    UpdateTargetId = "myDebtsDiv",
    OnSuccess = "updateAfterDebt"
}))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.DebtId)
        <table class="table table-hover">
            @Html.ValidationSummary(true)
            <caption>Я должен</caption>
            <tr>
                <th>Сколько</th>
                <th>Кому</th>
                <th>Счет</th>
                <th>Дата займа</th>
                <th colspan="2" class="text-center">Действия</th>
                <th></th>
            </tr>
            <tr>
                <td>
                    @Html.EditorFor(x => x.Sum, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control"
                        }
                    })
                    @Html.ValidationMessageFor(x => x.Sum)
                </td>
                <td>
                    @Html.DisplayFor(x => x.Person)
                </td>
                <td>@Model.AccountName</td>
                <td>@Model.Date</td>
                <td class="text-center">
                    <input type="submit" class="btn btn-success btn-raised btn-xs" value="Закрыть частично"/>
                </td>
            </tr>
        </table>
    </div>
}