@model IEnumerable<Debt>
@foreach (var debt in Model)
{
    <tr>
        <td>@debt.Summ.ToString("c")</td>
        <td>@debt.Person</td>
        <td>@debt.Account.AccountName</td>
        <td>@debt.DateBegin.Date.ToShortDateString()</td>
        <td class="text-center">
            @Ajax.ActionLink("Закрыть", "ClosePartially", new {id = debt.DebtID}, new AjaxOptions()
            {
                Url = Url.Action("ClosePartially", new {id = debt.DebtID}),
                UpdateTargetId = "payingDiv"
            },
                new {@class = "btn btn-success btn-raised btn-xs"})
        </td>
        <td class="text-center">
            @using (Ajax.BeginForm("Delete", new {id = debt.DebtID}, new AjaxOptions()
            {
                Url = Url.Action("Delete", new {id = debt.DebtID}),
                UpdateTargetId = "payingDiv",
                OnSuccess = "updateAfterDebt"
            }))
            {
                <input type="submit" class="btn btn-danger btn-raised btn-xs" value="Удалить"/>
            }
        </td>
    </tr>
}