@model AccUserModel
@Html.Action("Index", "MainBar")
<div class="container" id="adminSection">
    <div class="panel panel-primary">
        <div class="panel-heading">Личные данные</div>
        <table class="table table-striped">
            <tr>
                <th>Логин</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>@Model.UserName</td>
                <td>@Model.LastName</td>
                <td>@Model.FirstName</td>
                <td>@Model.Email</td>
            </tr>
        </table>
        <div class="panel-footer">
            @Ajax.ActionLink("Редактировать", "ChangeCredentials", null, new AjaxOptions()
            {
                Url = Url.Action("ChangeCredentials"),
                UpdateTargetId = "adminSection"
            }, new { @class = "btn btn-primary btn-raised btn-sm" })
            @Ajax.ActionLink("Смена пароля", "ChangePassword", null, new AjaxOptions()
            {
                Url = Url.Action("ChangePassword"),
                UpdateTargetId = "adminSection"
            }, new { @class = "btn btn-primary btn-raised btn-sm" })
            @Ajax.ActionLink("На главную", "MainPage", "PayingItem", null, new AjaxOptions()
            {
                OnBegin = "showPopupLogin",
                OnSuccess = "hidePopup",
                UpdateTargetId = "payingItemMainBody"
            }, new {@class = "btn btn-default btn-raised btn-sm pull-right"})
        </div>
    </div>
</div>