@model WebUI.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="userContainer">
    <div class="well">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.Password("CurrentPassword", null, new { @class = "form-control", placeholder = "Текущий пароль" })
                @Html.ValidationMessageFor(x => x.CurrentPassword)
            </div>
            <div class="form-group">
                @Html.Password("NewPassword", null, new { @class = "form-control", placeholder = "Новый пароль" })
                @Html.ValidationMessageFor(x => x.NewPassword)
            </div>
            <div class="form-group">
                @Html.Password("ConfirmPassword", null, new { @class = "form-control", placeholder = "Подтверждение пароля" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </div>
            <input type="submit" value="Сохранить" class="btn btn-success btn-raised btn-sm" />
            @Html.ActionLink("Отмена", "ViewCredentials", null, new { @class = "btn btn-danger btn-raised btn-sm pull-right" })
        }
    </div>
</div>
