@model HomeAccountingSystem_WebUI.Models.DebtsAddModel
<div class="panel panel-success">
    @using (Ajax.BeginForm("Add", new AjaxOptions()
    {
        Url = Url.Action("Add"),
        UpdateTargetId = "payingDiv",
        OnSuccess = "updateAfterDebt"
    }))
    {
        @Html.ValidationSummary(true)
        <div class="panel-body">
            <div class="form-group">
                @Html.DropDownListFor(x => x.TypeOfFlowId, Model.TypesOfFlow.Select(x => new SelectListItem()
           {
               Value = x.TypeId.ToString(),
               Text = x.Name
           }), new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.TextBoxFor(x => x.Summ, new { placeholder = "Сумма", @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(x => x.Summ)
            <div class="form-group">
                @Html.TextBoxFor(x => x.Person, new { @class = "form-control", placeholder = "Кому занял/Кто мне занял" })
            </div>
            @Html.ValidationMessageFor(x => x.Person)
            <div class="form-group">
                @Html.DropDownListFor(x => x.AccountId, Model.Accounts.Select(x => new SelectListItem()
           {
               Value = x.AccountID.ToString(),
               Text = x.AccountName
           }), new { @class = "form-control" })
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-raised btn-success btn-sm" />
            @Ajax.ActionLink("Отмена", "DebtList", null, new AjaxOptions()
	   {
		   Url = Url.Action("DebtList"),
		   UpdateTargetId = "payingDiv"
	   },
           new { @class = "btn btn-raised btn-sm btn-default" })
        </div>
    }

</div>

