<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <style>
        .container {
            padding-top: 10px
        }
        .validation-summary-errors {
            color: #f00;
        }
    </style>
    @Styles.Render("~/bundles/material-kit/css")

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    @Scripts.Render("~/bundles/jquery-ajax", "~/bundles/bootstrap-material-kit")
    <script src="~/Scripts/Buttons.js"></script>
</head>
<body>
@Html.Action("Index","MainBar")
<div class="container">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success text-center">@TempData["message"]</div>
    }
    @RenderBody()
</div>
</body>
</html>
