<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @*@Styles.Render("~/bundles/bootstrap-datepicker/css", "~/bundles/material-kit/css")*@
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/assets/css/material-kit.css" rel="stylesheet" />
    
    @Scripts.Render("~/bundles/jquery-ajax", "~/bundles/bootstrap", "~/bundles/datetime-datepicker", "~/bundles/material-kit","~/bundles/scripts")

</head>
<body>
@Html.Action("Index","MainBar")
@Html.Action("Index","MenuBar")
<div class="col-xs-2 hidden-xs">
    <div id="myAccounts">
        @Html.Action("GetAccounts", "NavLeft")
    </div>
    <div id="myBudgets">
        @Html.Action("GetBudgets", "NavLeft")
    </div>
    <div id="myDebts">
        @Html.Action("Index", "Debt")
    </div>
</div>
@if (Request.Browser.IsMobileDevice)
{
    <div id="payingDiv">
        @RenderBody()
    </div>
}
else
{
    <div class="col-xs-6" id="payingDiv">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-danger">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
}

<div class="col-xs-2 hidden-xs">
    <div id="expensiveCategories">
        @Html.Action("ExpensiveCategories", "PayingItem")
    </div>
</div>
<div class="col-xs-2 hidden-xs">
    <div id="income">
        @Html.Action("MenuIncoming", "NavRight")
    </div>
    <div id="outgo">
        @Html.Action("MenuOutgo", "NavRight")
    </div>
</div>

</body>
</html>