<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="../Content/assets/img/favicon.png">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/material-kit/css")

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    
    @Scripts.Render("~/bundles/jquery-reportPage")
</head>
<body>
    @Html.Action("Index","MainBar")
<div class="container">
    <div class="col-xs-2">
        @Html.Action("Index", "ReportMenu")
    </div>
    <div class="col-xs-7">
        <div class="panel panel-primary">
            <div class="panel-heading">Отчеты</div>
            <div id="reportPanelBody" class="panel-body">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-danger">@TempData["message"]</div>
                }
                @RenderBody()
            </div>
        </div>
        <p>
            <div>
                @Ajax.ActionLink("На главную", "MainPage", "PayingItem", null, new AjaxOptions()
                {
                    OnBegin = "showPopupLogin",
                    OnSuccess = "redirectToMain"
                },
                    new {@class = "btn btn-default btn-raised btn-sm pull-right"})
            </div>
        </p>
    </div>
    <div class="col-xs-3">
        @Html.Action("OverallLastYearMonths", "Report")
    </div>
</div>
</body>
</html>
