@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        .container {
            padding-top: 20px;
        }
    </style>
    @Styles.Render("~/bundles/bootstrap/css")
    @Scripts.Render("~/bundles/jquery", "~/bundles/jquery-ajax")
    @RenderSection("Scripts", false)
</head>
<body class="container">
<div class="container">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success text-center">@TempData["message"]</div>
    }
    @RenderBody()
</div>
</body>
</html>
