@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/material-kit/css")
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap-material-kit", "~/bundles/knockout")

    <script type="text/javascript">
        var currentUserId = "@HttpContext.Current.User.Identity.GetUserId()";
    </script>
    <script src="~/Models/KnockoutModels/TodoCreateViewModel.js"></script>
</head>
<body>
<div>
    @Html.Action("Index","MainBar")
    @RenderSection("body", false)
</div>
</body>
</html>
