@model ReportModel
@{
    ViewBag.Title = "Отчет по категориям";
}
<div class="well">
    <table class="table table-condensed table-bordered">
        <caption>Категория: @Model.CategoryName за период: с @Model.DtFrom.ToShortDateString() по @Model.DtTo.ToShortDateString()</caption>
        <thead>
        <tr>
            <th>Дата</th>
            <th>Счет</th>
            <th>Сумма</th>
            <th>Комментарий</th>
        </tr>
        </thead>
        <tbody id="reportTable">
        @foreach (var item in Model.ItemsPerPage)
        {
            <tr>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>@item.AccountName</td>
                <td>@item.Summ.ToString("c")</td>
                <td>@item.Comment</td>
            </tr>
        }
        </tbody>
    </table>
    <p>Итого: @Model.AllItems.Sum(x=>x.Summ).ToString("c")</p>
    <div class="text-center">
        @Html.Partial("_PageLinks", Model)
    </div>
</div>