@model ReportModel
@foreach (var item in Model.ItemsPerPage)
{
    <tr>
        <td>@item.Date.ToShortDateString()</td>
        <td>@item.AccountName</td>
        <td>@item.CategoryName</td>
        @if (item.TypeOfFlowId == 2)
        {
            <td>-@item.Summ.ToString("c")</td>
        }
        else
        {
            <td>@item.Summ.ToString("c")</td>
        }
        <td>@item.Comment</td>
    </tr>
}

