@model HomeAccountingSystem_WebUI.Models.ViewPlaningModel
@{
    ViewBag.Title = "Планирование";
    Layout = "~/Views/Shared/_PlaningLayout.cshtml";
}
<div id="edit" class="editPlanItem"></div>
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <b>Текущий месяц: </b>@DateTime.Today.ToString("MMMM")
        <span class="pull-right">
            <span id="loading" style="display: none">Актуализация...</span>
            @Html.ActionLink("Выбрать категории", "SelectCategories", null, new {@class = "btn btn-default btn-raised btn-xs"})
            @Ajax.ActionLink("Актуализировать", "Actualize", null, new AjaxOptions()
            {
                Url = Url.Action("ActualizePlanItems"),
                LoadingElementId = "loading",
                LoadingElementDuration = 500,
                HttpMethod = "POST",
                OnSuccess = "onSuccess"
            }, new {@class = "btn btn-default btn-raised btn-xs"})
            @Html.ActionLink("На главную", "Index", "PayingItem", null, new {@class = "btn btn-default btn-raised btn-xs"})
        </span>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <th>Категория/Месяц</th>
                @foreach (var month in Model.Months)
                {
                    <th colspan="2">@month</th>
                }
            </tr>
            <tr>
                <td></td>
                @foreach (var month in Model.Months)
                {
                    <td>План</td>
                    <td>Факт</td>
                }
            </tr>
            @Html.Partial("PlanItemsIncomePartial",Model)
            @Html.Partial("PlanItemsOutgoPartial",Model)
            @Html.Partial("BalancesPartial", Model.Balances)
        </table>
    </div>
</div>


