@model WebUI.Models.ReportMonthsModel

<div class="panel panel-primary">
    <div class="panel-heading">Доходы и расходы по месяцам</div>
    <table class="table table-striped">
        <tr>
            <th>Тип</th>
            <th>Сумма</th>
        </tr>
        @foreach (var item in Model.MonthInOuts)
        {
            <tr>
                <td colspan="2" class="text-center text-primary">
                    @Ajax.ActionLink(item.Month, "GetItemsByMonth", new
                    {
                        date = item.Date
                    }, new AjaxOptions()
                    {
                        UpdateTargetId = "reportPanelBody"
                    })</td>
            </tr>
            <tr>
                <td class="text-info">
                    @Ajax.ActionLink("Доход", "SubcategoriesReportView",
                        new {typeOfFlowId = 1, date = item.Date}, new AjaxOptions()
                        {
                            Url = Url.Action("SubcategoriesReport", new {typeOfFlowId = 1, date = item.Date}),
                            UpdateTargetId = "reportPanelBody"
                        },
                        new {@class = "text-info"}
                        )
                </td>
                <td>@item.SummIn</td>
            </tr>
            <tr>
                <td class="text-warning">
                    @Ajax.ActionLink("Расход", "SubcategoriesReportView",
                        new {typeOfFlowId = 2, date = item.Date}, new AjaxOptions()
                        {
                            Url = Url.Action("SubcategoriesReport", new {typeOfFlowId = 2, date = item.Date}),
                            UpdateTargetId = "reportPanelBody"
                        },
                        new {@class = "text-danger"})</td><td>@item.SummOut</td>
            </tr>
        }
    </table>
</div>
